body
    background-color: #efefef
p
    color: red

.one
    height: 2000px

.two
    height: 100px
    width: 100%
    background-color: red

.container
    width: 1200px
    padding-left: 20px
    padding-right: 20px
    margin-left: auto
    margin-right: auto
