doctype html
html(lang="ru-RU")
head
    link(rel="stylesheet", href="styles/main.css")
    title Leatherman
body
    .container
        p всем привет6
        p всем привет6
        p всем привет6
        p всем привет6

.one
.two

