.mydetails__header-links-wrapper
  margin-top: 10px
  display: block

@media (max-width: 1240px)
  .mydetails__header-links-wrapper
    display: block

@media (max-width: 740px)
  .mydetails__header-links-wrapper
    display: none

.mydetails__header-links-link
  font-size: 14px
  font-weight: 400
  text-decoration: none
  color: #000

.mydetails__header-links-link
  &:hover
    text-decoration: underline

.mydetails__header-links-unablespan
  font-size: 14px
  font-weight: 300
  color: #a1a1a1

.mydetails__bigtitle-wrapper
  margin-top: 100px

@media (max-width: 1240px)
  .mydetails__bigtitle-wrapper
    margin-top: 50px

@media (max-width: 740px)
  .mydetails__bigtitle-wrapper
    margin-top: 0px
    background: #e9ebf0
    box-sizing: border-box

.mydetails__bigtitle-text
  font-size: 30px
  font-weight: 900
  text-transform: uppercase

@media (max-width: 1240px)
  .mydetails__bigtitle-text
    font-size: 26px

@media (max-width: 740px)
  .mydetails__bigtitle-text
    font-size: 18px
    font-weight: 900
    text-align: center
    line-height: 60px

.mydetails__big-wrapper
  margin-top: 60px
  margin-bottom: 100px
  box-sizing: border-box

@media (max-width: 740px)
  .mydetails__big-wrapper
    margin-top: 20px
    margin-bottom: 20px

.mydetails__wrapper-flex
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: flex-start
    align-content: flex-start

.mydetails__main-wrapper
    width: 820px

@media (max-width: 1240px)
    .mydetails__main-wrapper
        width: 500px

@media (max-width: 740px)
    .mydetails__main-wrapper
        width: 320px

.mydetails__main-toptext
    font-weight: 400
    font-size: 13px
    text-transform: uppercase
    @media (max-width: 740px)
        padding-right: 10px
        padding-left: 10px

.mydetails__form
    margin-top: 35px

.mydetails__form-wrapper-flex
    display: flex
    flex-flow: row wrap
    justify-content: space-between

.mydetails__inputemail-wrapper, .mydetails__inputfirstname-wrapper, .mydetails__inputlastname-wrapper, .mydetails__inputbirthday-wrapper, .mydetails__inputgender-wrapper, .mydetails__inputphone-wrapper
    height: 100px
    width: 260px

.mydetails__inputgender-wrapper
    margin-bottom: -20px

.mydetails__radiogroup-wrapper-flex
    display: flex
    flex-flow: row wrap
    justify-content: flex-start
    align-items: center
    @media (max-width: 740px)
        padding-left: 15px

.mydetails__inputemail-text, .mydetails__inputfirstname-text, .mydetails__inputlastname-text, .mydetails__inputbirthday-text, .mydetails__inputgender-text, .mydetails__inputphone-text
    font-size: 14px
    font-weight: 400
    display: block
    padding-left: 15px
    margin-bottom: 10px
    
.mydetails__inputemail-text, .mydetails__inputfirstname-text, .mydetails__inputlastname-text, .mydetails__inputbirthday-text
    &:before
        content: ""
        position: absolute
        background: url(../images/icon/png/Star_Gold.png)
        display: inline-block
        background-size: 10px 10px
        background-repeat: no-repeat
        height: 10px
        width: 10px
        transform: translate(-15px, 1px)

.mydetails__inputemail-input, .mydetails__inputfirstname-input, .mydetails__inputlastname-input, .mydetails__inputbirthday-input, .mydetails__inputphone-input
    outline: none
    width: 260px
    line-height: 38px
    padding-left: 15px
    border: #dcdee4 1px solid

.mydetails__form-wrapper-flex
    border-bottom: #dcdee4 1px solid

.mydetails__deliveryaddress-text
    font-weight: 700
    font-size: 14px
    line-height: 60px
    @media (max-width: 740px)
        padding-left: 15px

.mydetails__deliveryaddress-inputs-wrapper-flex
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    align-items: center
    align-content: flex-start

@media (max-width: 1240px)
    .mydetails__deliveryaddress-inputs-wrapper-flex
        display: flex
        flex-flow: column nowrap
        justify-content: flex-start
        align-items: flex-start

.mydetails__deliveryaddress-inputstreet
    width: 260px
    padding-left: 15px
    height: 38px
    outline: none
    border: #dcdee4 1px solid

.mydetails__deliveryaddress-inputhouse
    width: 145px
    padding-left: 15px
    height: 38px
    outline: none

.mydetails__deliveryaddress-inputblock
    width: 145px
    padding-left: 15px
    height: 38px
    outline: none

.mydetails__deliveryaddress-inputapartment
    width: 145px
    padding-left: 15px
    height: 38px
    outline: none

@media (max-width: 1240px)
    .mydetails__deliveryaddress-inputapartment
        width: 260px

.mydetails__deliveryaddress-buttondelete
    width: 75px
    line-height: 38px
    background: transparent
    text-align: center
    color: red
    text-decoration: underline
    cursor: pointer
    outline: none
    font-size: 14px
    font-weight: 500
    border: none

.mydetails__deliveryaddress-button-add-wrapper
    width: 100%
    border-bottom: #dcdee4 1px solid

.mydetails__deliveryaddress-button-add
    line-height: 60px
    font-size: 14px
    font-weight: 500
    color: #00a130
    text-decoration: underline
    background: transparent
    border: none
    cursor: pointer
    outline: none

@media (max-width: 1240px)
    .mydetails__deliveryaddress-inputstreet, .mydetails__deliveryaddress-inputhouse, .mydetails__deliveryaddress-inputblock, .mydetails__deliveryaddress-inputapartmente
        width: 260px
    .mydetails__deliveryaddress-inputhouse, .mydetails__deliveryaddress-inputblock, .mydetails__deliveryaddress-inputapartment, .mydetails__deliveryaddress-buttondelete
        margin-top: 10px
    


.mydetails__deliveryaddress-emaildispatch-title-wrapper
    font-weight: 700
    font-size: 14px
    line-height: 60px
    @media (max-width: 740px)
        padding-left: 15px

.mydetails__deliveryaddress-emaildispatch-checkboxlabel-wrapper
    display: flex
    flex-flow: row nowrap
    align-items: center
    line-height: 30px
    @media (max-width: 1240px)
        line-height: 18px
        font-size: 14px
        & > label
            margin-left: 15px

.mydetails__deliveryaddress-emaildispatch-button-wrapper
    margin-top: 20px

.mydetails__deliveryaddress-emaildispatch-button
    background: transparent
    text-align: center
    font-weight: 500
    font-size: 14px
    width: 165px
    height: 60px
    border: #f7bb03 1px solid
    cursor: pointer
    outline: none
    &:hover
        background-color: #f7bb03 
        color: #fff
    @media (max-width: 740px)
        height: 50px

.mydetails__deliveryaddress-emaildispatch-wrapper
    border-bottom: #dcdee4 1px solid
    padding-bottom: 25px

.mydetails__deliveryaddress-emailchange-title-wrapper
    font-size: 14px
    font-weight: 700
    margin-top: 25px
    @media (max-width: 740px)
        padding-left: 15px

.mydetails__deliveryaddress-emailchange-subtitle-wrapper
    font-style: 14px
    font-weight: 400
    margin-top: 25px
    @media (max-width: 740px)
        padding-left: 15px

.mydetails__deliveryaddress-emailchange-inputtext-wrapper-flex
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: flex-start
    margin-top: 25px
    @media (max-width: 740px)
        display: flex
        flex-flow: column nowrap
        align-items: flex-start

.mydetails__deliveryaddress-emailchange-input-wrapper > input
    width: 260px
    padding-left: 15px
    line-height: 38px
    outline: none
    box-sizing: border-box

.mydetails__deliveryaddress-emailchange-text-wrapper
    padding-left: 25px
    font-size: 13px
    font-weight: 300
    @media (max-width: 740px)
        padding-left: 10px
        padding-right: 10px
        margin-top: 10px

.mydetails__deliveryaddress-emailchange-buttonsend-wrapper
    margin-top: 25px
    & > button
        width: 260px
        line-height: 46px
        background: transparent
        border: #f7bb03 1px solid
        cursor: pointer
        outline: none
        &:hover
            color: #fff
            background: #f7bb03

.mydetails__passwordchange-title-wrapper
    font-weight: 700
    font-size: 14px
    padding-top: 25px
    margin-bottom: 20px
    @media (max-width: 740px)
        padding-left:  15px

.mydetails__deliveryaddress-emailchange-wrapper
    border-bottom: #dcdee4 1px solid
    padding-bottom: 30px

.mydetails__passwordchange-inputtextnewpassword, .mydetails__passwordchange-confirmnewpassword
    font-weight: 400
    font-size: 14px

.mydetails__passwordchange-wrapper-flex
    display: flex
    flex-flow: row wrap
    align-items: flex-start
    justify-content: flex-start

.mydetails__passwordchange-input, .mydetails__confirmpassword-input
    display: block
    line-height: 38px
    border: #dcdee4 1px solid
    box-sizing: border-box
    margin-top: 10px
    width: 260px
    outline: none
    padding-left: 15px

.mydetails__passwordchange-confirmnewpassword
    margin-left: 20px

@media (max-width: 1240px)
    .mydetails__passwordchange-confirmnewpassword
        margin-left: 0
        margin-top: 10px

.mydetails__passwordchange-button
    width: 260px
    line-height: 48px
    background: transparent
    color: #000
    font-size: 14px
    font-weight: 500
    cursor: pointer
    outline: none
    text-align: center
    border: #f7bb03 1px solid
    &:hover
        color: #fff
        background: #f7bb03

.mydetails__passwordchange-button-wrapper
    margin-top: 25px