header.header
	.header-wrapper
		.header__whitespace1
		.header-city
			img.header-city__image-arrow(src='images/icon/svg/you-are-here.svg', alt='target')
			span.header-city__title-city
				| Ваш город:
			a.header-city__link-chosen-city(href='#')
				| Москва
		.header-phone
			img.header-phone__image-phone(src='images/icon/svg/phone-call.svg', alt='phone')
			span.header-phone__span-number
				| 8 800 123-45-67
		.header-time
			img.header-time__image-clock(src='images/icon/svg/clock.svg', alt='clock')
			span.header-time__span-time
				| Без выходных с 9:00 до 21:00
		.header-problem
			a.header-problem__link-dont-call(href='#') Не дозвонились?
		.header-login
			img.header-login__image-avatar(src='images/icon/svg/avatar.svg', alt='avatar')
			a.header-login__link-singin(href='#')
				| Вход
			| &nbsp; |  
			a.header-login__link-reg(href='#') Регистрация
		.header__whitespace2
		.header__whitespace3
		.header-logo
			a.header-logo__link-logo(href='index.html')
				img.header-logo__image-logo(src='images/logo_leatherman.png', alt='logo')
		.header-search
			input.header-search__input-search(type='text', placeholder='Поиск по разделам, названию или артикулу')
		.header-options
			a.header-options__link-favorites(href='#')
				img.header-options__image-favorites(src='images/icon/svg/heart.svg', alt='favorites')
				| Избранное (0)
			a.header-options__link-compare(href='#')
				img.header-options__image-compare(src='images/icon/png/bar-chart.png', alt='compare')
				| Сравнение (12)
			a.header-options__link-basket(href='#')
				img.header-options__image-basket(src='images/icon/svg/shopping-cart.svg', alt='basket')
				| Корзина (5)
		.header__whitespace4
		.header__whitespace5
		.header-catalog
			button(id='hcb' class='header-catalog__button')
				| Каталог товаров
		.header-conditions
			a.header-conditions__link-delivery(href='#')
				| Условия доставки
			| |
			a.header-conditions__link-payment(href='#')
				| Условия оплаты
			| |
			a.header-conditions__link-exchange(href='#')
				| Обмен и возврат
		.header__whitespace6
	.menu
		.menu-wrapper-grid
			.menu__empty-grey1
			.menu__empty-grey2
			.menu__empty-grey3
			.menu__empty-grey4
			.menu__empty-grey5
			.menu__empty-grey6
			.menu__empty-darkgrey1
			.menu__empty-darkgrey2
			.menu__wrapper-multitool-title.menu__wrapper-title Мультитулы
			.menu__wrapper-multitool-image
				img.menu__image(src='images/menu__item-image.jpg', alt='image knife')
			.menu__wrapper-multitool-links
				a.menu__link(href='#') Все мультитулы
				a.menu__link(href='#') Полноразмерные
				a.menu__link(href='#') Усиленные
				a.menu__link(href='#') Брелоки
			.menu__wrapper-bracelet-title.menu__wrapper-title Браслеты
			.menu__wrapper-bracelet-image
				img.menu__image(src='images/menu__item-image.jpg', alt='image knife')
			.menu__wrapper-bracelet-links
				a.menu__link(href='#') Все браслеты
				a.menu__link(href='#') Широкие браслеты
				a.menu__link(href='#') Узские браслеты
				a.menu__link(href='#') Стальные браслеты
			.menu__wrapper-clock-title.menu__wrapper-title Часы
			.menu__wrapper-clock-image
				img.menu__image(src='images/menu__item-image.jpg', alt='image knife')
			.menu__wrapper-clock-links
				a.menu__link(href='#') Все часы
				a.menu__link(href='#') Стальные часы
				a.menu__link(href='#') Черные часы
			.menu__wrapper-knife-title.menu__wrapper-title Ножи
			.menu__wrapper-knife-image
				img.menu__image(src='images/menu__item-image.jpg', alt='image knife')
			.menu__wrapper-knife-links
				a.menu__link(href='#') Все ножи
				a.menu__link(href='#') Полусеррейтор
				a.menu__link(href='#') Прямой клинок
			.menu__wrapper-pockettool-title.menu__wrapper-title Карманные инструменты
			.menu__wrapper-pockettool-image
				img.menu__image(src='images/menu__item-image.jpg', alt='image knife')
			.menu__wrapper-pockettool-links
				a.menu__link(href='#') Все инструменты
				a.menu__link(href='#') Для оружия
				a.menu__link(href='#') Для скейтборда
				a.menu__link(href='#') Для сноуборда
			.menu__wrapper-accessory-title.menu__wrapper-title Аксессуары
			.menu__wrapper-accessory-image
				img.menu__image(src='images/menu__item-image.jpg', alt='image knife')
			.menu__wrapper-accessory-links
				a.menu__link(href='#') Все аксессуары
				a.menu__link(href='#') Кожаные чехлы
				a.menu__link(href='#') Нейлоновые чехлы
				a.menu__link(href='#') Дополнения / Запчасти
				a.menu__link(href='#') Черные браслеты
				a.menu__link(href='#') Для серфинга
		.menu__close
			buttom.menu__close-button
				| Закрыть меню 