.novelties-wrapper-grey
	.container
		.novelties-wrapper-grid
			.novelties__label
				| НОВИНКИ
			.novelties__buttons
				button.novelties__buttons-button-back.novelties__buttons-button-grey
				button.novelties__buttons-button-forward.novelties__buttons-button-grey
			// ITEM 1
			.novelties__item1.novelties-item-bg-white
				.item-wrapper
					.item__quantity
						.item__quantity-container
							img.item__quantity-image(src='images/icon/svg/tools.svg', alt='tools')
							span.item__quantity-span 17
					.item__image
					.item__bonus
						.item__bonus-container Новинка
					.item__about
						span.item__about-text
							| Мультититул Leatherman Charge ALX, 18 функций, кожаный чехол
					.item__stars-and-reviews
						img.item__image-star(src='images/icon/svg/star.svg', alt='star')
						img.item__image-star(src='images/icon/svg/star.svg', alt='star')
						img.item__image-star(src='images/icon/svg/star.svg', alt='star')
						img.item__image-star(src='images/icon/svg/star.svg', alt='star')
						img.item__image-star(src='images/icon/svg/star.svg', alt='star')
						a.item__stars-and-reviews-link(href='javascript: void(0);')
							| 6 отзывов
					.item__price
						span.item__price-span 3 900 Р
						span.item__price-span-underlined 5 000 Р
					.item__buttons
						button.item__buttons-inbasket В корзину
						button.item__buttons-heart
						button.item__buttons-diagram
			// /ITEM1
			.novelties__item2.novelties-item-bg-white
				.item-wrapper
					.item__quantity
						.item__quantity-container
							img.item__quantity-image(src='images/icon/svg/tools.svg', alt='tools')
							span.item__quantity-span 17
					.item__image
					.item__bonus
					.item__about
						span.item__about-text
							| Мультититул Leatherman Charge ALX, 18 функций, кожаный чехол
					.item__stars-and-reviews
						img.item__image-star(src='images/icon/svg/star.svg', alt='star')
						img.item__image-star(src='images/icon/svg/star.svg', alt='star')
						img.item__image-star(src='images/icon/svg/star.svg', alt='star')
						img.item__image-star(src='images/icon/svg/star.svg', alt='star')
						img.item__image-star(src='images/icon/svg/star.svg', alt='star')
						a.item__stars-and-reviews-link(href='javascript: void(0);')
							| 6 отзывов
					.item__price
						span.item__price-span 5 000 Р
						span.item__price-span-underlined
					.item__buttons
						button.item__buttons-inbasket В корзину
						button.item__buttons-heart
						button.item__buttons-diagram
			.novelties__item3.novelties-item-bg-white
				.item-wrapper
					.item__quantity
						.item__quantity-container
							img.item__quantity-image(src='images/icon/svg/tools.svg', alt='tools')
							span.item__quantity-span 17
					.item__image
					.item__bonus
						.item__bonus-container Хит
					.item__about
						span.item__about-text
							| Мультититул Leatherman Charge ALX, 18 функций, кожаный чехол
					.item__stars-and-reviews
						img.item__image-star(src='images/icon/svg/star.svg', alt='star')
						img.item__image-star(src='images/icon/svg/star.svg', alt='star')
						img.item__image-star(src='images/icon/svg/star.svg', alt='star')
						img.item__image-star(src='images/icon/svg/star.svg', alt='star')
						img.item__image-star(src='images/icon/svg/star.svg', alt='star')
						a.item__stars-and-reviews-link(href='javascript: void(0);')
							| 6 отзывов
					.item__price
						span.item__price-span 6 200 Р
						span.item__price-span-underlined
					.item__buttons
						button.item__buttons-inbasket В корзину
						button.item__buttons-heart
						button.item__buttons-diagram
			.novelties__item4.novelties-item-bg-white
				.item-wrapper
					.item__quantity
						.item__quantity-container
							img.item__quantity-image(src='images/icon/svg/tools.svg', alt='tools')
							span.item__quantity-span 17
					.item__image
					.item__bonus
					.item__about
						span.item__about-text
							| Мультититул Leatherman Charge ALX, 18 функций, кожаный чехол
					.item__stars-and-reviews
						img.item__image-star(src='images/icon/svg/star.svg', alt='star')
						img.item__image-star(src='images/icon/svg/star.svg', alt='star')
						img.item__image-star(src='images/icon/svg/star.svg', alt='star')
						img.item__image-star(src='images/icon/svg/star.svg', alt='star')
						img.item__image-star(src='images/icon/svg/star.svg', alt='star')
						a.item__stars-and-reviews-link(href='javascript: void(0);')
							| 6 отзывов
					.item__price
						span.item__price-span 4 800 Р
						span.item__price-span-underlined 5 000 Р
					.item__buttons
						button.item__buttons-inbasket В корзину
						button.item__buttons-heart
						button.item__buttons-diagram