.helpful
	.container
		.helpful__container-flex
			.helpful__container-imagetext
				.helpful__container-image
					img.helpful__image-envelope(src='images/icon/svg/envelope.svg', alt='envelope')
				.helpful__container-text
					p.helpful__text Только полезная информация, новинки и скидки для своих!
			.helpful__container-inputbutton
				.helpful__container-input
					input.helpful__input-email(type='text', placeholder='Введите Ваш E-mail')
				.helpful__container-button
					button.helpful__button-join Вступить в клуб