.prefooter
	.container
		p.prefooter__title
			| Lorem ipsum dolor sit amet, quod exerci posidonium.
		p.prefooter__text
			| Lorem ipsum dolor sit amet, cum ei antiopam facilisis.
			| Veniam malorum vim ut, has lorem mucius option at. No dicam
			| suscipit temporibus usu. In mel utamur iudicabit, platonem
			| vituperatoribus cu mea, modo imperdiet concludaturque in vix.
			| Dolor aliquando omittantur ei pri, nibh option oportere eos ea,
			| vim aeterno elaboraret ad. Amet prima id per.
			| Lorem ipsum dolor sit amet, cum ei antiopam facilisis.
			| Veniam malorum vim ut, has lorem mucius option at. No dicam
			| suscipit temporibus usu. In mel utamur iudicabit, platonem
			| vituperatoribus cu mea, modo imperdiet concludaturque in vix.
			| Dolor aliquando omittantur ei pri, nibh option oportere eos ea,
			| vim aeterno elaboraret ad. Amet prima id per.
			| Lorem ipsum dolor sit amet, cum ei antiopam facilisis.
			| Veniam malorum vim ut, has lorem mucius option at. No dicam
			| suscipit temporibus usu. In mel utamur iudicabit, platonem
			| vituperatoribus cu mea, modo imperdiet concludaturque in vix.
			| Dolor aliquando omittantur ei pri, nibh option oportere eos ea,
			| vim aeterno elaboraret ad. Amet prima id per.
			| Lorem ipsum dolor sit amet, cum ei antiopam facilisis.
			| Veniam malorum vim ut, has lorem mucius option at. No dicam
			| suscipit temporibus usu. In mel utamur iudicabit, platonem
			| vituperatoribus cu mea, modo imperdiet concludaturque in vix.
			| Dolor aliquando omittantur ei pri, nibh option oportere eos ea,
			| vim aeterno elaboraret ad. Amet prima id per.
		p.prefooter__text
			| Lorem ipsum dolor sit amet, cum ei antiopam facilisis.
			| Veniam malorum vim ut, has lorem mucius option at. No dicam
			| suscipit temporibus usu. In mel utamur iudicabit, platonem
			| vituperatoribus cu mea, modo imperdiet concludaturque in vix.
			| Dolor aliquando omittantur ei pri, nibh option oportere eos ea,
			| vim aeterno elaboraret ad. Amet prima id per.
			| Lorem ipsum dolor sit amet, cum ei antiopam facilisis.
			| Veniam malorum vim ut, has lorem mucius option at. No dicam
			| suscipit temporibus usu. In mel utamur iudicabit, platonem
			| vituperatoribus cu mea, modo imperdiet concludaturque in vix.
			| Dolor aliquando omittantur ei pri, nibh option oportere eos ea,
			| vim aeterno elaboraret ad. Amet prima id per.