.personalarea__header-links-wrapper
	.container
		.personalarea__header-links-container
			a.personalarea__header-links-link(href='javascript: void(0);')
				| Главная
			span.personalarea__header-links-unablespan &nbsp;&nbsp;| &nbsp;Личный кабинет
.personalarea__bigtitle-wrapper
	.container
		.personalarea__bigtitle-text
			|	Личный кабинет
.personalarea__big-wrapper
	.container
		.personalarea__wrapper-flex
			aside.aside__menu-wrapper
				.aside__menu-container-type
					p.aside__menu-link-opened
						| Главная
					a.aside__menu-link(href="javascript: void(0);")
						| Моя корзина
					a.aside__menu-link(href="javascript: void(0);")
						| Мои доставки
					a.aside__menu-link(href="javascript: void(0);")
						| Избранное
					a.aside__menu-link(href="javascript: void(0);")
						| Сравнение
					a.aside__menu-link(href="javascript: void(0);")
						| Мои данные
					a.aside__menu-link(href="javascript: void(0);")
						| История заказов
					a.aside__menu-link(href="javascript: void(0);")
						| Бонусные баллы
					a.aside__menu-link(href="javascript: void(0);")
						| Выход
			main.personalarea__main-wrapper
				.personalarea__main-wrapper-grid
					.personalarea__main-wrapper-mybasket
						.personalarea__card-top.personalarea__card-top-mybasket
							| Моя корзина
						.personalarea__card-center
							span 3 товара
							br
							p 5000 Р
						.personalarea__card-bottom
							a.personalarea__card-bottom-link-button(href="javascript: void(0);")
								| Подробнее
					.personalarea__main-wrapper-mydelivery
						.personalarea__card-top.personalarea__card-top-mydelivery
							| &nbsp;Мои доставки
						.personalarea__card-center
							span Ближайшая:
							br
							p 11.06.2018
						.personalarea__card-bottom
							a.personalarea__card-bottom-link-button(href="javascript: void(0);")
								| Подробнее
					.personalarea__main-wrapper-favorites
						.personalarea__card-top.personalarea__card-top-favorites
							| Избранное
						.personalarea__card-center
							span В листе ожидания:
							br
							p 4 товара
						.personalarea__card-bottom
							a.personalarea__card-bottom-link-button(href="javascript: void(0);")
								| Подробнее
					.personalarea__main-wrapper-mydetails
						.personalarea__card-top.personalarea__card-top-mydetails
							| Мои данные
						.personalarea__card-center
							span.personalarea__card-center-text-block Управление вашим профилем
						.personalarea__card-bottom.personalarea__card-bottom-mydetails
							a.personalarea__card-bottom-link(href="javascript: void(0);")
								| Николай Иванов
					.personalarea__main-wrapper-historyofororders
						.personalarea__card-top.personalarea__card-top-historyofororders
							| История заказов
						.personalarea__card-center
							span.personalarea__card-center-text-historyofororders
								| История ваших покупок во всех подробностях
						.personalarea__card-bottom
							a.personalarea__card-bottom-link-button(href="javascript: void(0);")
								| Перейти в историю
					.personalarea__main-wrapper-bonuspoints
						.personalarea__card-top.personalarea__card-top-bonuspoints
							| &nbsp;Бонусные баллы
						.personalarea__card-center
							span На вашем бонусном счете:
							br
							p 550 Р
							a.personalarea__card-center-link(href="javascript: void(0);") Подробнее
						.personalarea__card-bottom
							a.personalarea__card-bottom-link-button(href="javascript: void(0);")
								| Подробнее