.error-wrapper
	.container
		.error-container-flex
			.error__image-container
			.error__notfound
				p.error__title
					| Страница не найдена
				p.error__text
					| Страница, на которую вы пытаетесь попасть, не существует
				a.error__link(href='javascript: void(0);')
					button.error__link-button
						| На главную