.articles__header-links-wrapper
	.container
		.articles__header-links-container
			a.articles__header-links-link(href='javascript: void(0);')
				|	Главная
			a.articles__header-links-link(href='javascript: void(0);')
				|	Блог
			span.articles__header-links-unablespan &nbsp;&nbsp;| &nbsp;Здесь будет заголовок статьи
.articles__bigtitle-wrapper
	.container
		.articles__bigtitle-text
			|	здесь будет заголовок статьи
.articles__allpage-wrapper
	.container
		.articles__bothsides-wrapper
			aside.articles__menu-wrapper
				.articles__menu-container-type
					a.articles__menu-link(href="javascript: void(0);")
						| О компании
					a.articles__menu-link(href="javascript: void(0);")
						| О бренде
					a.articles__menu-link(href="javascript: void(0);")
						| Бонусная программа
					p.articles__menu-link-opened
						| Наш блог
				.articles__recommend-wrapper
					span.articles__recommend-title
						| Рекомендуем
					a.articles__recommend-item-image-wrapper(href="javascript: void(0);")
					a.articles__recommend-item-name-link(href="javascript: void(0);")
						| Мультитул Leatherman Charge ALX, 18 функций, кожаный чехол
					.articles__recommend-cost-wrapper
						.articles__recommend-item-cost
							| 4 800 
						.articles__recommend-item-cost-crossed
							| 5 000 Р
				.articles__recommend-wrapper
					a.articles__recommend-item-image-wrapper(href="javascript: void(0);")
					a.articles__recommend-item-name-link(href="javascript: void(0);")
						| Мультитул Leatherman Charge ALX, 18 функций, кожаный чехол
					.articles__recommend-cost-wrapper
						.articles__recommend-item-cost
							| 4 800 Р
						.articles__recommend-item-cost-crossed
							| 5 000 Р
				.articles__recommend-wrapper
					a.articles__recommend-item-image-wrapper(href="javascript: void(0);")
					a.articles__recommend-item-name-link(href="javascript: void(0);")
						| Мультитул Leatherman Charge ALX, 18 функций, кожаный чехол
					.articles__recommend-cost-wrapper
						.articles__recommend-item-cost
							| 4 800 Р
						.articles__recommend-item-cost-crossed
							| 5 000 Р
				.articles__recommend-wrapper
					a.articles__recommend-item-image-wrapper(href="javascript: void(0);")
					a.articles__recommend-item-name-link(href="javascript: void(0);")
						| Мультитул Leatherman Charge ALX, 18 функций, кожаный чехол
					.articles__recommend-cost-wrapper
						.articles__recommend-item-cost
							| 4 800 Р
						.articles__recommend-item-cost-crossed
							| 5 000 Р
			main.articles__main-wrapper
				.articles__main-wrapper-grid
					.articles__content-wrapper
						h3.articles__content-title
							| Содержание:
						ol.articles__content-list
							li.articles__content-list-item Пункт содержания
							li.articles__content-list-item Пункт содержания
							li.articles__content-list-item Пункт содержания
							li.articles__content-list-item Пункт содержания
							li.articles__content-list-item Пункт содержания
							li.articles__content-list-item Пункт содержания
							li.articles__content-list-item Пункт содержания
							li.articles__content-list-item Пункт содержания
					.articles__article1-wrapper
						p.articles__article1-text
							| Lorem ipsum dolor sit amet, pro doctus expetenda no,
							| harum libris liberavisse sea ut. Vel ut scripta
							| bonorum, sed praesent torquatos id. Duo ea brute
							| referrentur, at delicata comprehensam mediocritatem
							| mea. Ex nonumes similique nam. Vim scripserit appellantur
							| Sumo solum maluisset id pri, eum no erat molestie.
							| Lorem ipsum dolor sit amet, pro doctus expetenda no,
							| harum libris liberavisse sea ut. Vel ut scripta
							| bonorum, sed praesent torquatos id. Duo ea brute
							| referrentur, at delicata comprehensam mediocritatem
							| mea. Ex nonumes similique nam. Vim scripserit appellantur
							| Sumo solum maluisset id pri, eum no erat molestie.
							| Lorem ipsum dolor sit amet, pro doctus expetenda no,
							| harum libris liberavisse sea ut. Vel ut scripta
							| bonorum, sed praesent torquatos id. Duo ea brute
							| referrentur, at delicata comprehensam mediocritatem
							| mea. Ex nonumes similique nam. Vim scripserit appellantur
							| Sumo solum maluisset id pri, eum no erat molestie.
					.articles__bannersmall-wrapper
						.articles__bannersmall-image-wrapper
							.articles__bannersmall-warranty-circle
								| - 25 year - warranty 
						.articles__bannersmall-image-wrapper
							.articles__bannersmall-warranty-circle
								| - 25 year - warranty 
						.articles__bannersmall-image-wrapper
							.articles__bannersmall-warranty-circle
								| - 25 year - warranty 
					.articles__article2-wrapper
						h2.articles__article2-title
							| Это заголовок h2 в статье
						p.articles__article2-text
							| Lorem ipsum dolor sit amet, pro doctus expetenda no,
							| harum libris liberavisse sea ut. Vel ut scripta
							| bonorum, sed praesent torquatos id. Duo ea brute
							| referrentur, at delicata comprehensam mediocritatem
							| mea. Ex nonumes similique nam. Vim scripserit appellantur
							| Sumo solum maluisset id pri, eum no erat molestie.
							| Lorem ipsum dolor sit amet, pro doctus expetenda no,
							| harum libris liberavisse sea ut. Vel ut scripta
							| bonorum, sed praesent torquatos id. Duo ea brute
							| referrentur, at delicata comprehensam mediocritatem
							| mea. Ex nonumes similique nam.
					.articles__banner-big-wrapper
						.articles__banner-big-title
							| new!
							br
							| black & silver surge
						a.articles__banner-big-link(href='javascript: void(0);')
							| Подробнее
						.articles__banner-big-logo
					.articles__article3-wrapper
						h2.articles__article3-title
							| Это заголовок h2 в статье
						p.articles__article3-text
							| Lorem ipsum dolor sit amet, pro doctus expetenda no,
							| harum libris liberavisse sea ut. Vel ut scripta
							| bonorum, sed praesent torquatos id. Duo ea brute
							| referrentur, at delicata comprehensam mediocritatem
							| mea. Ex nonumes similique nam. Vim scripserit appellantur
							| Sumo solum maluisset id pri, eum no erat molestie.
							| Lorem ipsum dolor sit amet, pro doctus expetenda no.
					.articles__interesting-wrapper
						h3.articles__interesting-title
							| Это интересно
						p.articles__interesting-text
							| Lorem ipsum dolor sit amet, pro doctus expetenda no,
							| harum libris liberavisse sea ut. Vel ut scripta
							| bonorum, sed praesent torquatos id. Duo ea brute
							| referrentur, at delicata comprehensam mediocritatem
							| mea. Ex nonumes similique nam. Vim scripserit appellantur
							| Sumo solum maluisset id pri, eum no erat molestie.
							| Lorem ipsum dolor sit amet, pro doctus expetenda no.
					.articles__table-wrapper
						table.articles__table(cellspacing="0", cellpadding="0")
							thead.articles__table-thead
								tr
									td.articles__table-col1 Заголовок 1
									td.articles__table-col2 Заголовок 2
									td.articles__table-col3 Заголовок 1
									td.articles__table-col4 Заголовок 2
							tbody.articles__table-tbody
								tr
									td.articles__table-col1 Lorem ipsum dolor sit amet
									td.articles__table-col2 5000 р.
									td.articles__table-col3 Lorem ipsum dolor sit amet
									td.articles__table-col4 Lorem ipsum dolor sit amet
								tr
									td.articles__table-col1 Lorem ipsum dolor sit amet
									td.articles__table-col2 5000 р.
									td.articles__table-col3 Lorem ipsum dolor sit amet
									td.articles__table-col4 Lorem ipsum dolor sit amet
								tr
									td.articles__table-col1 Lorem ipsum dolor sit amet
									td.articles__table-col2 5000 р.
									td.articles__table-col3 Lorem ipsum dolor sit amet
									td.articles__table-col4 Lorem ipsum dolor sit amet
					.articles__youtube-wrapper
						video(controls="controls" poster="images/banner-big-video.jpg")
					.articles__youtube-text-wrapper
						p.articles__youtube-text
							| Lorem ipsum dolor sit amet, pro doctus expetenda no,
							| harum libris liberavisse sea ut. Vel ut scripta
							| bonorum, sed praesent torquatos id. Duo ea brute
							| referrentur, at delicata comprehensam mediocritatem
							| mea. Ex nonumes similique nam. Vim scripserit appellantur
							| Sumo solum maluisset id pri, eum no erat molestie.
							| Lorem ipsum dolor sit amet, pro doctus expetenda no.
					.articles__socials-wrapper
						img.articles__socials-image-fb(src="images/icon/png/fb.png")
						img.articles__socials-image-vk(src="images/icon/png/vk.png")
						img.articles__socials-image-tw(src="images/icon/png/tw.png")
						img.articles__socials-image-ok(src="images/icon/png/ok.png")
						br
						img.articles__socials-image-greystar(src="images/icon/png/grey-star-small.png")
						img.articles__socials-image-greystar(src="images/icon/png/grey-star-small.png")
						img.articles__socials-image-greystar(src="images/icon/png/grey-star-small.png")
						img.articles__socials-image-greystar(src="images/icon/png/grey-star-small.png")
						img.articles__socials-image-greystar(src="images/icon/png/grey-star-small.png")
						span.articles__socials-text &nbsp;(Пока оценок нет)
						br
						span.articles__socials-text Просмотров: 16
					.articles__form-wrapper
						.articles__form-title Оставить комментарий
						form.articles__form#articles__form(action="")
							.articles__form-grid
								.articles__form-inputname-wrapper
									| Ваше имя
									br
									input.articles__form-inputname-input(type="text" placeholder="Введите данные")
								.articles__form-inputmail-wrapper
									| E-mail
									br
									input.articles__form-inputmail-input(type="text")
								.articles__form-inputcomment-wrapper
									| Комментарий
									br
									textarea.articles__form-inputcomment-textarea(type="text" placeholder="")
								.articles__form-checkboxsubmit-wrapper
									.articles__form-checkboxlabel-wrapper
										input.articles__form-checkbox(type="checkbox" id="accept" value="accept")
										label.articles__form-labelforcheckbox Согласен(на) наобработку персональных данных
									input.articles__form-submit(type="submit" value="Отправить")