.blog-wrapper
	.container
		.blog-container
			.blog__title БЛОГ
			.blog__buttons-container.blog__buttons-mr0
				button.novelties__buttons-button-back
				button.novelties__buttons-button-forward
			.blog__story-wrapper1
				.blog__story-container-image
					img.blog__story-image-knife(src='images/knife1.jpg', alt='knife')
				.blog__story-container-text
					span.blog__story-title
						| Как выбрать свой идеальный мультитул за 6 простых щагов
					span.blog__story-text
						| Lorem ipsum dolor sit amet, has eu quot option democritum,
						| movet postulant prodesset no mel, cum id ceteros partiendo
						| disputando.
					a.blog__story-link(href='#')
						| Подробнее
			.blog__story-wrapper2
				.blog__story-container-image
					img.blog__story-image-knife(src='images/knife2.jpg', alt='knife')
				.blog__story-container-text
					span.blog__story-title
						| С ножом или без ножа?
					span.blog__story-text
						| Lorem ipsum dolor sit amet, has eu quot option democritum,
						| movet postulant prodesset no mel, cum id ceteros partiendo
						| disputando.
					a.blog__story-link(href='#')
						| Подробнее