.youwatched__big-wrapper
	.container
		.youwatched__big-wrapper-flex
			.youwatched__aside
			.youwatched__main
				.youwatched-title-buttons-container
					.youwatched__title ВЫ СМОТРЕЛИ
					.youwatched__buttons-container
						button.youwatched-wrapper__buttons-button-back
						button.youwatched-wrapper__buttons-button-forward
				.youwatched__slick
					.youwatched__item.youwatched__item_bgcolor
						.item-wrapper
							.item__quantity.item__quantity__youwatched
								.item__quantity-container
									img.item__quantity-image(src='images/icon/svg/tools.svg', alt='tools')
									span.item__quantity-span 17
							.item__image.item__image__youwatched
							.item__bonus
								.item__bonus-container Новинка
							.item__about
								span.item__about-text
									| Мультититул Leatherman Charge ALX, 18 функций, кожаный чехол
							.item__stars-and-reviews
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								a.item__stars-and-reviews-link(href='javascript: void(0);')
									| 6 отзывов
							.item__price
								span.item__price-span 3 900 Р
							.item__buttons.item__buttons-inbasket-catalog
								button.item__buttons-inbasket.item__buttons-inbasket__youwatch В корзину
								button.item__buttons-heart
								button.item__buttons-diagram
					.youwatched__item.youwatched__item_bgcolor
						.item-wrapper.item-wrapper__youwatched
							.item__quantity.item__quantity__youwatched
								.item__quantity-container
									img.item__quantity-image(src='images/icon/svg/tools.svg', alt='tools')
									span.item__quantity-span 17
							.item__image.item__image__youwatched
							.item__bonus
								.item__bonus-container Новинка
							.item__about
								span.item__about-text
									| Мультититул Leatherman Charge ALX, 18 функций, кожаный чехол
							.item__stars-and-reviews.item__stars-and-reviews__youwatched
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								a.item__stars-and-reviews-link(href='javascript: void(0);')
									| 6 отзывов
							.item__price
								span.item__price-span 3 900 Р
							.item__buttons.item__buttons-inbasket-catalog
								button.item__buttons-inbasket В корзину
								button.item__buttons-heart
								button.item__buttons-diagram
					.youwatched__item.youwatched__item_bgcolor
						.item-wrapper.item-wrapper__youwatched
							.item__quantity.item__quantity__youwatched
								.item__quantity-container
									img.item__quantity-image(src='images/icon/svg/tools.svg', alt='tools')
									span.item__quantity-span 17
							.item__image.item__image__youwatched
							.item__bonus
								.item__bonus-container Новинка
							.item__about
								span.item__about-text
									| Мультититул Leatherman Charge ALX, 18 функций, кожаный чехол
							.item__stars-and-reviews.item__stars-and-reviews__youwatched
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								a.item__stars-and-reviews-link(href='javascript: void(0);')
									| 6 отзывов
							.item__price
								span.item__price-span 3 900 Р
							.item__buttons.item__buttons__youwatched
								button.item__buttons-inbasket В корзину
								button.item__buttons-heart
								button.item__buttons-diagram
					.youwatched__item.youwatched__item_bgcolor
						.item-wrapper.item-wrapper__youwatched
							.item__quantity.item__quantity__youwatched
								.item__quantity-container
									img.item__quantity-image(src='images/icon/svg/tools.svg', alt='tools')
									span.item__quantity-span 17
							.item__image.item__image__youwatched
							.item__bonus
								.item__bonus-container Новинка
							.item__about
								span.item__about-text
									| Мультититул Leatherman Charge ALX, 18 функций, кожаный чехол
							.item__stars-and-reviews.item__stars-and-reviews__youwatched
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								a.item__stars-and-reviews-link(href='javascript: void(0);')
									| 6 отзывов
							.item__price
								span.item__price-span 3 900 Р
							.item__buttons.item__buttons__youwatched
								button.item__buttons-inbasket В корзину
								button.item__buttons-heart
								button.item__buttons-diagram
					.youwatched__item.youwatched__item_bgcolor
						.item-wrapper.item-wrapper__youwatched
							.item__quantity.item__quantity__youwatched
								.item__quantity-container
									img.item__quantity-image(src='images/icon/svg/tools.svg', alt='tools')
									span.item__quantity-span 17
							.item__image.item__image__youwatched
							.item__bonus
								.item__bonus-container Новинка
							.item__about
								span.item__about-text
									| Мультититул Leatherman Charge ALX, 18 функций, кожаный чехол
							.item__stars-and-reviews.item__stars-and-reviews__youwatched
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								a.item__stars-and-reviews-link(href='javascript: void(0);')
									| 6 отзывов
							.item__price
								span.item__price-span 3 900 Р
							.item__buttons.item__buttons__youwatched
								button.item__buttons-inbasket В корзину
								button.item__buttons-heart
								button.item__buttons-diagram
					.youwatched__item.youwatched__item_bgcolor
						.item-wrapper.item-wrapper__youwatched
							.item__quantity.item__quantity__youwatched
								.item__quantity-container
									img.item__quantity-image(src='images/icon/svg/tools.svg', alt='tools')
									span.item__quantity-span 17
							.item__image.item__image__youwatched
							.item__bonus
								.item__bonus-container Новинка
							.item__about
								span.item__about-text
									| Мультититул Leatherman Charge ALX, 18 функций, кожаный чехол
							.item__stars-and-reviews.item__stars-and-reviews__youwatched
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								a.item__stars-and-reviews-link(href='javascript: void(0);')
									| 6 отзывов
							.item__price
								span.item__price-span 3 900 Р
							.item__buttons.item__buttons__youwatched
								button.item__buttons-inbasket В корзину
								button.item__buttons-heart
								button.item__buttons-diagram