.mydetails__header-links-wrapper
	.container
		.mydetails__header-links-container
			a.mydetails__header-links-link(href='javascript: void(0);')
				| Главная
			span.mydetails__header-links-unablespan &nbsp;| 
			a.mydetails__header-links-link(href='javascript: void(0);')
				| Личный кабинет
			span.mydetails__header-links-unablespan &nbsp;| Мои данные
.mydetails__bigtitle-wrapper
	.container
		.mydetails__bigtitle-text
			|	Мои данные
.mydetails__big-wrapper
	.container
		.mydetails__wrapper-flex
			aside.aside__menu-wrapper
				.aside__menu-container-type
					a.aside__menu-link(href="javascript: void(0);")
						| Главная
					a.aside__menu-link(href="javascript: void(0);")
						| Моя корзина
					a.aside__menu-link(href="javascript: void(0);")
						| Мои доставки
					a.aside__menu-link(href="javascript: void(0);")
						| Избранное
					a.aside__menu-link.aside__menu-link-borderbottom(href="javascript: void(0);")
						| Сравнение
					p.aside__menu-link-opened
						| Мои данные
					a.aside__menu-link(href="javascript: void(0);")
						| История заказов
					a.aside__menu-link(href="javascript: void(0);")
						| Бонусные баллы
					a.aside__menu-link(href="javascript: void(0);")
						| Выход
			main.mydetails__main-wrapper
				|	2 3