footer.footer
	.container
		.footer__wrapper-grid
			.footer__container-logo
			.footer__container-phone
				img.footer__phone-image(src='images/icon/svg/phone-call.svg', alt='phone')
				span.footer__phone-number 8 800 123-45-67
				p.footer__phone-text Бесплатно по России
			.footer__container-socials
				img.footer__socials-image.footer__socials-image-vkontakte(src='images/icon/png/vkontakte.png', alt='vkontakte')
				img.footer__socials-image.footer__socials-image-facebook(src='images/icon/png/facebook.png', alt='facebook')
				img.footer__socials-image.footer__socials-image-instagram(src='images/icon/png/instagram.png', alt='instagram')
				img.footer__socials-image.footer__socials-image-youtubew(src='images/icon/png/youtube.png', alt='youtube')
			.footer__container-title-catalog
				| Каталог товаров
			.footer__container-title-info
				| Информация
			.footer__container-title-buyer
				| Покупателю
			.footer__container-title-acceptforpay
				| Принимаем к оплате
			.footer__container-catalog
				a.footer__catalog-link(href='#') Мультититулы
				a.footer__catalog-link(href='#') Браслеты
				a.footer__catalog-link(href='#') Часы
				a.footer__catalog-link(href='#') Ножи
				a.footer__catalog-link(href='#') Аксессуары
			.footer__container-info
				a.footer__catalog-link(href='#') О компании
				a.footer__catalog-link(href='#') О бренде
				a.footer__catalog-link(href='#') Бонусная программа
				a.footer__catalog-link(href='#') Наш блог
				a.footer__catalog-link(href='#') Пользовательское соглашение
				a.footer__catalog-link(href='#') Политика конфиденциальности
			.footer__container-buyer
				a.footer__catalog-link(href='#') Условия доставки
				a.footer__catalog-link(href='#') Условия оплаты
				a.footer__catalog-link(href='#') Обмен и возврат
				a.footer__catalog-link(href='#') Гарантия 25 лет
				a.footer__catalog-link(href='#') Как сделать заказ
				a.footer__catalog-link(href='#') Как отследить заказ
			.footer__container-acceptforpay
				img.footer__image-acceptforpay(src='images/icon/png/acceptforpay.png', alt='visa mastercard МИР')