.copyright-wrapper
	.container
		.copyright-container-grid
			.copyright__text Copyright 2013-2018 © ileatherman.ru - официальный дилер Leatherman в России
			.copyright__studio 
				a.copyright__link(href='javascript: void(0);') СОЗДАНИЕ САЙТА ВЕБ СТУДИЯ WAYTOSTART