.catalog__header-links-wrapper
	.container
		.catalog__header-links-container
			a.catalog__header-links-link(href='javascript: void(0);')
				| Главная
			span.catalog__header-links-unablespan &nbsp;&nbsp;| Мультитулы
.catalog__bigtitle-wrapper
	.container
		.catalog__bigtitle-text
			|	Мультитулы Leatherman
		.catalog__bigtitle-filter-wrapper
			select.catalog__bigtitle-select(name='bigtitle-select')
				option(value='min') По цене min
				option(value='max') По цене max
			button.catalog__bigtitle-button-filter
				| Фильтр
.catalog__allpage-wrapper
	.container
		.catalog__bothsides-wrapper
			aside.catalog__menu-wrapper
				.catalog__menu-container-type
					p.catalog__menu-link-opened
						| Все мультитулы
					a.catalog__menu-link(href="javascript: void(0);")
						| Полноразмерные мультитулы
					a.catalog__menu-link(href="javascript: void(0);")
						| Силовые мультитулы
					a.catalog__menu-link(href="javascript: void(0);")
						| Мультитулы-брелоки
					a.catalog__menu-link(href="javascript: void(0);")
						| Карманные инструменты
				.catalog__menu-container-cost
					.catalog__menu-cost-title Цена
					span.catalog__menu-cost-span от&nbsp;
					input.catalog__menu-cost-inputtextfrom(type='text', value='200')
					span.catalog__menu-cost-span &nbsp;&nbsp;до&nbsp;
					input.catalog__menu-cost-inputtextto(type='text', value='400')
				.catalog__menu-container-model
					.catalog-menu-model-title Модель
					select.catalog__model-select(name='hero')
						option 
						option(value='m1') 1
						option(value='m2') 2
						option(value='m3') 3
						option(value='m4') 4
				.catalog__menu-container-tools
					.catalog-menu-tools-title Инструменты
				.catalog__menu-container-cover
					.catalog-menu-cover-title Чехол в комлекте
				.catalog__menu-container-pack
					.catalog-menu-pack-title Упаковка
				.catalog__menu-container-reset
					input.catalog__menu-inputreset(type='reset', value='Сбросить все фильтры')
				.catalog__menu-banner-small
					.catalog__menu-banner-warranty
						span.catalog__menu-banner-warranty-text
							| - 25 year - warranty
					.catalog__menu-banner-title we build products we love, and also stand by.
					a.catalog__menu-banner-link(href='javascript: void(0);') Подробнее
			main.catalog__main-wrapper
				.catalog__main-wrapper-grid
					.catalog__sorting-wrapper
						span.catalog__sorting-title
							| Сортировка:
						span.catalog__sorting-opened
							| Сначала популярные
						a.catalog__sorting-link(href='javascript: void(0);')
							| Сначала функциональные
						a.catalog__sorting-link(href='javascript: void(0);')
							| По цене
						a.catalog__sorting-link(href='javascript: void(0);')
							| По массе
						a.catalog__sorting-link(href='javascript: void(0);')
							| По размеру
					.catalog__item1
						.item-wrapper
							.item__quantity
								.item__quantity-container
									img.item__quantity-image(src='images/icon/svg/tools.svg', alt='tools')
									span.item__quantity-span 17
							.item__image
							.item__bonus
								.item__bonus-container Новинка
							.item__about
								span.item__about-text
									| Мультититул Leatherman Charge ALX, 18 функций, кожаный чехол
							.item__stars-and-reviews
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								a.item__stars-and-reviews-link(href='javascript: void(0);')
									| 6 отзывов
							.item__price
								span.item__price-span 3 900 Р
								span.item__price-span-underlined
							.item__buttons
								button.item__buttons-inbasket В корзину
								button.item__buttons-heart
								button.item__buttons-diagram
					.catalog__item2
						.item-wrapper
							.item__quantity
								.item__quantity-container
									img.item__quantity-image(src='images/icon/svg/tools.svg', alt='tools')
									span.item__quantity-span 17
							.item__image
							.item__bonus
								.item__bonus-container Новинка
							.item__about
								span.item__about-text
									| Мультититул Leatherman Charge ALX, 18 функций, кожаный чехол
							.item__stars-and-reviews
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								a.item__stars-and-reviews-link(href='javascript: void(0);')
									| 6 отзывов
							.item__price
								span.item__price-span 3 900 Р
								span.item__price-span-underlined
							.item__buttons
								button.item__buttons-inbasket В корзину
								button.item__buttons-heart
								button.item__buttons-diagram
					.catalog__item3
						.item-wrapper
							.item__quantity
								.item__quantity-container
									img.item__quantity-image(src='images/icon/svg/tools.svg', alt='tools')
									span.item__quantity-span 17
							.item__image
							.item__bonus
								.item__bonus-container Новинка
							.item__about
								span.item__about-text
									| Мультититул Leatherman Charge ALX, 18 функций, кожаный чехол
							.item__stars-and-reviews
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								a.item__stars-and-reviews-link(href='javascript: void(0);')
									| 6 отзывов
							.item__price
								span.item__price-span 3 900 Р
								span.item__price-span-underlined
							.item__buttons
								button.item__buttons-inbasket В корзину
								button.item__buttons-heart
								button.item__buttons-diagram
					.catalog__item4
						.item-wrapper
							.item__quantity
								.item__quantity-container
									img.item__quantity-image(src='images/icon/svg/tools.svg', alt='tools')
									span.item__quantity-span 17
							.item__image
							.item__bonus
								.item__bonus-container Новинка
							.item__about
								span.item__about-text
									| Мультититул Leatherman Charge ALX, 18 функций, кожаный чехол
							.item__stars-and-reviews
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								a.item__stars-and-reviews-link(href='javascript: void(0);')
									| 6 отзывов
							.item__price
								span.item__price-span 3 900 Р
								span.item__price-span-underlined
							.item__buttons
								button.item__buttons-inbasket В корзину
								button.item__buttons-heart
								button.item__buttons-diagram
					.catalog__item5
						.item-wrapper
							.item__quantity
								.item__quantity-container
									img.item__quantity-image(src='images/icon/svg/tools.svg', alt='tools')
									span.item__quantity-span 17
							.item__image
							.item__bonus
								.item__bonus-container Новинка
							.item__about
								span.item__about-text
									| Мультититул Leatherman Charge ALX, 18 функций, кожаный чехол
							.item__stars-and-reviews
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								a.item__stars-and-reviews-link(href='javascript: void(0);')
									| 6 отзывов
							.item__price
								span.item__price-span 3 900 Р
								span.item__price-span-underlined
							.item__buttons
								button.item__buttons-inbasket В корзину
								button.item__buttons-heart
								button.item__buttons-diagram
					.catalog__item6
						.item-wrapper
							.item__quantity
								.item__quantity-container
									img.item__quantity-image(src='images/icon/svg/tools.svg', alt='tools')
									span.item__quantity-span 17
							.item__image
							.item__bonus
								.item__bonus-container Новинка
							.item__about
								span.item__about-text
									| Мультититул Leatherman Charge ALX, 18 функций, кожаный чехол
							.item__stars-and-reviews
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								a.item__stars-and-reviews-link(href='javascript: void(0);')
									| 6 отзывов
							.item__price
								span.item__price-span 3 900 Р
								span.item__price-span-underlined
							.item__buttons
								button.item__buttons-inbasket В корзину
								button.item__buttons-heart
								button.item__buttons-diagram
					.catalog__banner-big
						.catalog__banner-big-title
							| new!
							br
							| black & silver surge
						a.catalog__banner-big-link(href='javascript: void(0);')
							| Подробнее
						.catalog__banner-big-logo
					.catalog__item7
						.item-wrapper
							.item__quantity
								.item__quantity-container
									img.item__quantity-image(src='images/icon/svg/tools.svg', alt='tools')
									span.item__quantity-span 17
							.item__image
							.item__bonus
								.item__bonus-container Новинка
							.item__about
								span.item__about-text
									| Мультититул Leatherman Charge ALX, 18 функций, кожаный чехол
							.item__stars-and-reviews
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								a.item__stars-and-reviews-link(href='javascript: void(0);')
									| 6 отзывов
							.item__price
								span.item__price-span 3 900 Р
								span.item__price-span-underlined
							.item__buttons
								button.item__buttons-inbasket В корзину
								button.item__buttons-heart
								button.item__buttons-diagram
					.catalog__item8
						.item-wrapper
							.item__quantity
								.item__quantity-container
									img.item__quantity-image(src='images/icon/svg/tools.svg', alt='tools')
									span.item__quantity-span 17
							.item__image
							.item__bonus
								.item__bonus-container Новинка
							.item__about
								span.item__about-text
									| Мультититул Leatherman Charge ALX, 18 функций, кожаный чехол
							.item__stars-and-reviews
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								a.item__stars-and-reviews-link(href='javascript: void(0);')
									| 6 отзывов
							.item__price
								span.item__price-span 3 900 Р
								span.item__price-span-underlined
							.item__buttons
								button.item__buttons-inbasket В корзину
								button.item__buttons-heart
								button.item__buttons-diagram
					.catalog__item9
						.item-wrapper
							.item__quantity
								.item__quantity-container
									img.item__quantity-image(src='images/icon/svg/tools.svg', alt='tools')
									span.item__quantity-span 17
							.item__image
							.item__bonus
								.item__bonus-container Новинка
							.item__about
								span.item__about-text
									| Мультититул Leatherman Charge ALX, 18 функций, кожаный чехол
							.item__stars-and-reviews
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								a.item__stars-and-reviews-link(href='javascript: void(0);')
									| 6 отзывов
							.item__price
								span.item__price-span 3 900 Р
								span.item__price-span-underlined
							.item__buttons
								button.item__buttons-inbasket В корзину
								button.item__buttons-heart
								button.item__buttons-diagram
					.catalog__item10
						.item-wrapper
							.item__quantity
								.item__quantity-container
									img.item__quantity-image(src='images/icon/svg/tools.svg', alt='tools')
									span.item__quantity-span 17
							.item__image
							.item__bonus
								.item__bonus-container Новинка
							.item__about
								span.item__about-text
									| Мультититул Leatherman Charge ALX, 18 функций, кожаный чехол
							.item__stars-and-reviews
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								a.item__stars-and-reviews-link(href='javascript: void(0);')
									| 6 отзывов
							.item__price
								span.item__price-span 3 900 Р
								span.item__price-span-underlined
							.item__buttons
								button.item__buttons-inbasket В корзину
								button.item__buttons-heart
								button.item__buttons-diagram
					.catalog__item11
						.item-wrapper
							.item__quantity
								.item__quantity-container
									img.item__quantity-image(src='images/icon/svg/tools.svg', alt='tools')
									span.item__quantity-span 17
							.item__image
							.item__bonus
								.item__bonus-container Новинка
							.item__about
								span.item__about-text
									| Мультититул Leatherman Charge ALX, 18 функций, кожаный чехол
							.item__stars-and-reviews
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								a.item__stars-and-reviews-link(href='javascript: void(0);')
									| 6 отзывов
							.item__price
								span.item__price-span 3 900 Р
								span.item__price-span-underlined
							.item__buttons
								button.item__buttons-inbasket В корзину
								button.item__buttons-heart
								button.item__buttons-diagram
					.catalog__item12
						.item-wrapper
							.item__quantity
								.item__quantity-container
									img.item__quantity-image(src='images/icon/svg/tools.svg', alt='tools')
									span.item__quantity-span 17
							.item__image
							.item__bonus
								.item__bonus-container Новинка
							.item__about
								span.item__about-text
									| Мультититул Leatherman Charge ALX, 18 функций, кожаный чехол
							.item__stars-and-reviews
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								img.item__image-star(src='images/icon/svg/star.svg', alt='star')
								a.item__stars-and-reviews-link(href='javascript: void(0);')
									| 6 отзывов
							.item__price
								span.item__price-span 3 900 Р
								span.item__price-span-underlined
							.item__buttons
								button.item__buttons-inbasket В корзину
								button.item__buttons-heart
								button.item__buttons-diagram
					.catalog__showbutton-wrapper
						button.catalog__showbutton-button
							| Показать еще
					.catalog__showoptions-wrapper
						button.catalog__showoptions-button-tostart
						a.catalog__showoptions-link-disabled(href='javascript: void(0);')
							| 1
						a.catalog__showoptions-link(href='javascript: void(0);')
							| 2
						a.catalog__showoptions-link(href='javascript: void(0);')
							| 3
						span.catalog__showoptions-text-points
							| ........
						a.catalog__showoptions-link(href='javascript: void(0);')
							| 10
						button.catalog__showoptions-button-next
					.catalog__showoptions-displaymode-wrapper
						span.catalog__showoptions-text-show
							| Показывать по
						select.catalog__model-select(name='catalog-show')
							option(value='s1') 12
							option(value='s2') 48
							option(value='s3') все
include module-prefooter
include module-helpful
include module-footer
