.bonus__header-links-wrapper
	.container
		.bonus__header-links-container
			a.bonus__header-links-link(href='javascript: void(0);')
				| Главная | Личный кабинет
			span.bonus__header-links-unablespan &nbsp;&nbsp;| &nbsp;Бонусные баллы
.bonus__bigtitle-wrapper
	.container
		.bonus__bigtitle-text
			|	Бонусные баллы
.bonus__big-wrapper
	.container
		.bonus__wrapper-flex
			aside.aside__menu-wrapper
				.aside__menu-container-type
					a.aside__menu-link(href="javascript: void(0);")
						| Главная
					a.aside__menu-link(href="javascript: void(0);")
						| Моя корзина
					a.aside__menu-link(href="javascript: void(0);")
						| Мои доставки
					a.aside__menu-link(href="javascript: void(0);")
						| Избранное
					a.aside__menu-link(href="javascript: void(0);")
						| Сравнение
					a.aside__menu-link(href="javascript: void(0);")
						| Мои данные
					a.aside__menu-link.aside__menu-link-borderbottom(href="javascript: void(0);")
						| История заказов
					p.aside__menu-link-opened
						| Бонусные баллы
					a.aside__menu-link(href="javascript: void(0);")
						| Выход
			main.bonus__main-wrapper
				p.bonus__main-history-text
					| Здесь вы можете посмотреть историю накопления и расходования бонусных баллов
				table.bonus__main-history-table(cellspacing="0", cellpadding="0")
					thead
						tr
							td Дата операции
							td Описание
							td Бонусные баллы
					tbody
						tr
							td 01.05.2018
							td
								|	Начисление 510 бонусов за покупку по заказу 
								a.bonus__main-history-table-link(href="javascript: void(0);") №123
							td 510
						tr
							td 01.05.2018
							td Начисление 200 бонусов ко дню рождения
							td 700
						tr
							td 01.05.2018
							td
								|	Списание 300 бонусов за покупку по заказу 
								a.bonus__main-history-table-link(href="javascript: void(0);") № 227
							td 410
						tr
							td 01.05.2018
							td
								|	Начисление 510 бонусов за покупку по заказу&nbsp;
								a.bonus__main-history-table-link(href="javascript: void(0);") № 123
							td 920
				.bonus__main-history-bonuspoints-wrapper
					p.bonus__main-history-text-summ
						|	Всего бонусных баллов: &nbsp;
					span.bonus__main-history-bonuspoints-total
						| 920 Р