.successreg__header-links-wrapper
	.container
		.successreg__header-links-container
			a.successreg__header-links-link(href='javascript: void(0);')
				|	Главная
			span.successreg__header-links-unablespan &nbsp;&nbsp;| &nbsp; Регистрация
.successreg__bigtitle-wrapper
	.container
		.successreg__bigtitle-text
			| Вы зарегистрированы
.successreg__wrapper
	.container
		.successreg__wrapper-flex
			.successreg__image
			.successreg__message-wrapper
				.successreg__message-title
					| Спасибо, Имя!
				.successreg__message-text
					| На указанный Вами e-mail было отправлено письмо с регистрационными данными.
					| Если вы не получили письмо, проверьте, пожалуйста, папку Спам в Вашем почтовом ящике