.blog__header-links-wrapper
	.container
		.blog__header-links-container
			a.blog__header-links-link(href='javascript: void(0);')
				| Главная
			span.blog__header-links-unablespan &nbsp;&nbsp;| &nbsp;Блог
.blog__bigtitle-wrapper
	.container
		.blog__bigtitle-text
			|	Блог
.blog__allpage-wrapper
	.container
		.blog__bothsides-wrapper
			aside.blog__menu-wrapper
				.blog__menu-container-type
					a.blog__menu-link(href="javascript: void(0);")
						| О компании
					a.blog__menu-link(href="javascript: void(0);")
						| О бренде
					a.blog__menu-link(href="javascript: void(0);")
						| Бонусная программа
					p.blog__menu-link-opened
						| Наш блог
			main.blog__main-wrapper
				.blog__main-wrapper-grid
					.blog__main-container-image1
						img.blog__main-image(src='images/knife1.jpg')
					.blog__main-container-text1
						h2
							a.blog__main-link(href="javascript: void(0);")
								| Здесь будет заголовок статьи. Заголовок может быть длинным в две-три строчки.
						p.blog__main-text
							| Тут будет аннотация статьи - первые несколько предложений из статьи
							| Тут будет аннотация статьи - первые несколько предложений из статьи
							| Тут будет аннотация статьи - первые несколько предложений из статьи
					.blog__main-container-image2
						img.blog__main-image(src='images/banner-small.png')
						.blog__main-image-warranty
								| - 25 year - warranty
					.blog__main-container-text2
						h2
							a.blog__main-link(href="javascript: void(0);")
								| Здесь будет заголовок статьи. Заголовок может быть длинным в две-три строчки.
						p.blog__main-text
							| Тут будет аннотация статьи - первые несколько предложений из статьи
							| Тут будет аннотация статьи - первые несколько предложений из статьи
							| Тут будет аннотация статьи - первые несколько предложений из статьи
					.blog__main-container-image3
						img.blog__main-image(src='images/knife1.jpg')
					.blog__main-container-text3
						h2
							a.blog__main-link(href="javascript: void(0);")
								| Здесь будет заголовок статьи. Заголовок может быть длинным в две-три строчки.
						p.blog__main-text
							| Тут будет аннотация статьи - первые несколько предложений из статьи
							| Тут будет аннотация статьи - первые несколько предложений из статьи
							| Тут будет аннотация статьи - первые несколько предложений из статьи
					.blog__main-container-image4
						img.blog__main-image(src='images/banner-small.png')
						.blog__main-image-warranty
							| - 25 year - warranty
					.blog__main-container-text4
						h2
							a.blog__main-link(href="javascript: void(0);")
								| Здесь будет заголовок статьи. Заголовок может быть длинным в две-три строчки.
						p.blog__main-text
							| Тут будет аннотация статьи - первые несколько предложений из статьи
							| Тут будет аннотация статьи - первые несколько предложений из статьи
							| Тут будет аннотация статьи - первые несколько предложений из статьи
					.blog__main-container-image5
						img.blog__main-image(src='images/knife1.jpg')
					.blog__main-container-text5
						h2
							a.blog__main-link(href="javascript: void(0);")
								| Здесь будет заголовок статьи. Заголовок может быть длинным в две-три строчки.
						p.blog__main-text
							| Тут будет аннотация статьи - первые несколько предложений из статьи
							| Тут будет аннотация статьи - первые несколько предложений из статьи
							| Тут будет аннотация статьи - первые несколько предложений из статьи
				.blog__showbutton-wrapper
					button.blog__showbutton-button
						| Показать еще
				.blog__showoptions-container
					.blog__showoptions-wrapper
						button.blog__showoptions-button-tostart
						a.blog__showoptions-link-disabled(href='javascript: void(0);')
							| 1
						a.blog__showoptions-link(href='javascript: void(0);')
							| 2
						a.blog__showoptions-link(href='javascript: void(0);')
							| 3
						span.blog__showoptions-text-points
							| ........
						a.blog__showoptions-link(href='javascript: void(0);')
							| 10
						button.blog__showoptions-button-next
					.blog__showoptions-displaymode-wrapper
						span.blog__showoptions-text-show
							| Показывать по
						select.blog__model-select(name='blog-show')
							option(value='s1') 12
							option(value='s2') 48
							option(value='s3') все
.mt105
	| &nbsp;