section.multitools
	.container
		.multitool-wrapper
			.multitool__label
				| МУЛЬТИТУЛЫ LEATHERMAN
			.multitool__dealer
				img.multitool__dealer-image-handshake(src='images/icon/svg/handshake.svg', alt='handshake')
				.multitool__dealer-label Официальный дилер
			.multitool__warranty
				img.multitool__warranty-image-warranty(src='images/icon/svg/warranty.svg', alt='warranty')
				.multitool__warranty-label 25 лет гарантии
			.multitool__shipping
				img.multitool__shipping-image-translation(src='images/icon/svg/translation.svg', alt='translation')
				.multitool__shipping-label Доставка по всей России
			.multitool__freeshipping
				img.multitool__freeshipping-image-shipping(src='images/icon/png/shipped.png', alt='shipping')
				.multitool__freeshipping-label Бесплатно от 4000 рублей
			.multitool__alltypes-payment
				img.multitool__alltypes-payment-image-wallet(src='images/icon/svg/wallet.svg', alt='wallet')
				.multitool__alltypes-payment-label Оплата любым способом