.historyti__header-links-wrapper
	.container
		.historyti__header-links-container
			a.historyti__header-links-link(href='javascript: void(0);')
				| Главная | Личный кабинет
			span.historyti__header-links-unablespan &nbsp;&nbsp;| &nbsp;История заказов
.historyti__bigtitle-wrapper
	.container
		.historyti__bigtitle-text
			|	История заказов
.historyti__big-wrapper
	.container
		.historyti__wrapper-flex
			aside.aside__menu-wrapper
				.aside__menu-container-type
					a.aside__menu-link(href="javascript: void(0);")
						| Главная
					a.aside__menu-link(href="javascript: void(0);")
						| Моя корзина
					a.aside__menu-link(href="javascript: void(0);")
						| Мои доставки
					a.aside__menu-link(href="javascript: void(0);")
						| Избранное
					a.aside__menu-link(href="javascript: void(0);")
						| Сравнение
					a.aside__menu-link.aside__menu-link-borderbottom(href="javascript: void(0);")
						| Мои данные
					p.aside__menu-link-opened
						| История заказов
					a.aside__menu-link(href="javascript: void(0);")
						| Бонусные баллы
					a.aside__menu-link(href="javascript: void(0);")
						| Выход
			main.historyti__main-wrapper
				p.historyti__main-history-text
					| Здесь отображаются все ваши сделанные заказы на сайте, вы можете посмотреть статус заказа и его состав:
				table.historyti__main-history-table(cellspacing="0", cellpadding="0")
					thead
						tr
							td № и дата заказа
							td Сумма заказа
							td Доставка
							td Дата доставки
							td Статус
					tbody
						tr
							td
								| 01.05.2018
								br
								| 01/06/2018
							td
								| 12 789 Р
							td
								| Курьер
							td
								| 25.07.2018
							td
								| Заказ в пути
						tr
							td
								| 01.05.2018
								br
								| 01/06/2018
							td
								| 12 789 Р
							td
								| Курьер
							td
								| 25.07.2018
							td
								| Заказ в пути
						tr
							td
								| 01.05.2018
								br
								| 01/06/2018
							td
								| 12 789 Р
							td
								| Курьер
							td
								| 25.07.2018
							td
								| Заказ в пути
						tr
							td
								| 01.05.2018
								br
								| 01/06/2018
							td
								| 12 789 Р
							td
								| Курьер
							td
								| 25.07.2018
							td
								| Заказ в пути
						tr
							td
								| 01.05.2018
								br
								| 01/06/2018
							td
								| 12 789 Р
							td
								| Курьер
							td
								| 25.07.2018
							td
								| Заказ в пути
				.historyti__links-wrapper
					a.historyti__pagenumbers-link-opened(href="javascript: void(0);")
						| 1
					a.historyti__pagenumbers-link(href="javascript: void(0);")
						| 2
					a.historyti__pagenumbers-link(href="javascript: void(0);")
						| 3
					a.historyti__pagenumbers-link-points(href="javascript: void(0);")
						| ........
					a.historyti__pagenumbers-link(href="javascript: void(0);")
						| 10